.btn {
  align-items: center;
  justify-content: start;
}

.btn-md {
  height: 2.2rem /* 32px */;
  min-height: 2.2rem /* 32px */;
}

.btn-lg {
  height: 2.5rem /* 32px */;
  min-height: 2.5rem /* 32px */;
}

.input-sm {
  height: 2.2rem;
}

.disble-padding {
  padding: 0px 10px !important;
}

.btn-disabled,
.btn[disabled],
.btn:disabled {
  pointer-events: none;
}
@media (hover: hover) {
  .btn-disabled:hover,
  .btn[disabled]:hover,
  .btn:disabled:hover {
    --tw-border-opacity: 0;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.2;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.2;
  }
}
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
  --tw-border-opacity: 0;
  background-color: rgb(239, 239, 239);
  --tw-bg-opacity: 0.2;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  --tw-text-opacity: 0.2;
}

.input-disabled,
.input:disabled,
.input[disabled] {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: #d6d6d6;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b2) / var(--tw-bg-opacity));
  --tw-text-opacity: 0.2;
}

.input-sm {
  height: 2rem !important;
}

.css-10c2ym0-control {
  align-items: baseline !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 4px !important;
}
